* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../Assets/programming-coding.jpeg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

:root {
    --header-footer-background-color: #404040;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8)
}

/* HEADER NAVIGATION */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404040;
    color: #ffffff;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    flex-wrap: wrap;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* END OF HEADER NAV */


.about-me-grid-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-title {
    padding-top: 0px;
    font-size: 35px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--lightskyblue);
}

.about-me-item {
    padding-left: 10px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}

.work-tab-grid-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.work-tab-title {
    padding-top: 0px;
    font-size: 40px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--lightskyblue);
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    width: 80%;
    display: grid;
    gap: 20px 20px;
}

.footer-grid-item {
    text-align: center;
}

.footer-grid-item.contact-me {
    padding-top: 10px;
    font-size: 35px;
    grid-row: 1 / span 3;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item.phone {
    grid-row: 2;
}

.footer-grid-item.email {
    grid-row: 2;
}

.footer-grid-item.git-hub {
    grid-row: 2;
}

