* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../Assets/programming-coding.jpeg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero h2 {
    font-size: 70px;
    
}

.hero-subtitle {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: white;
    font-size: 100px;
    line-height: 1.2;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero img {
    height: 175px;
    width: 175px;
    align-items: flex-start;
    margin-right: 15%;
}

:root {
    --header-footer-background-color: #404040;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8)
}

/* HEADER NAVIGATION */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404040;
    color: #ffffff;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    flex-wrap: wrap;
}

.header nav ul {
    list-style-type: none;
    flex-wrap: wrap;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    flex-wrap: wrap;
}

.header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

/* END OF HEADER NAV */


.about-me-grid-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-title {
    padding-top: 0px;
    font-size: 35px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--lightskyblue);
}

.about-me-item {
    padding-left: 10px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}

.work-tab-grid-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    gap: 10px 10px;
}

.work-tab-title {
    padding-top: 0px;
    font-size: 40px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--lightskyblue);
}
.contents {
    background-color: lightgray;
}

.flex-row {
    display: flex;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    width: 80%;
    display: grid;
    gap: 20px 20px;
}

.footer-grid-item {
    text-align: center;
}

.footer-grid-item.contact-me {
    padding-top: 10px;
    font-size: 20px;
    grid-row: 1 / span 3;
    text-align: left;
    padding-right: 10px;
    border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item.phone {
    grid-row: 2;
}

.footer-grid-item.email {
    grid-row: 2;
}

.footer-grid-item.git-hub {
    grid-row: 2;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-subtitle {
        text-align: center;
    }
    .hero-subtitle {
        text-align: center;
    }
    .work-tab-title {
        text-align: center;
    }
    .footer-container {
        text-align: center;
        flex-wrap: wrap;
    }
    
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width 768px) {
    .work-tab-grid-content {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .work-tab-title {
        text-align: center;
    }
    .hero-subtitle {
        text-align: center;
    }
    .span-background opacity:;
}

@media screen and (max-width 575px) {
    .hero-subtitle {
        text-align: center;
    }
    .work-tab-title {
        text-align: center;
    }
    .footer-container {
        text-align: center;
    }
}