* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../Assets/programming-coding.jpeg);
    background-size: cover;
    background-position: center;
}

/* HEADER NAVIGATION */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}